/* Colors */
/* #674F23
#E48B69
#E1B365
#E5DB84
#FFEEAC
font-family: 'Unna', serif;
font-family: 'Ropa Sans', sans-serif;
font-family: 'Righteous', cursive; */

* {
  padding: 0;
  margin: 0;
}
h1 {
    padding: 0 50px;
    margin-bottom: 25px;
}

h2  {
  margin-top: 30px;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.App {
  margin: 100px;
  background-color: white
}
.Todo {
  margin: 20px auto;
  padding: 50px 0;
  text-align: left;
  max-width: 550px;
  min-width: 400px;
  color: white;
  font-family: 'Righteous', sans-serif; /* cursive font looks closer to sans-serif*/
  letter-spacing: 2px;
  background-color: #E48B69;
  border-radius: 3px;
}
.Todo-Form {
  padding-left: 50px;
}

.edit-form {
  margin: 10px auto;
  padding-left: 50px;
}
.form-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.form-flex input {
  flex-grow: 2;
  height: auto;
  border: none;
  font-size: 10px;
  min-height: 20px;
  margin-right: 10px;
  padding: 10px 10px;
  border-radius: 1px;
  font-size: 20px;
  font-family: 'Ropa Sans', sans-serif;
  color: gray;
}

.form-flex button {
  white-space: nowrap;
  border: none;
  background-color: #FFEEAC;
  color: #674F23;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 20px;
  padding: 0 20px;
  height: 40px;
  letter-spacing: 1px;
  min-height: 42px;
  border-radius: 1px;
  margin-right: 50px;
}


.List {
  display: flex;
  flex-direction: row;
}

.ListItem {
  font-family: 'Ropa Sans', sans-serif;
  background-color: #FFEEAC;
  color: #674F23;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  padding-left: 50px;
  text-align: left;
  font-size: 22px;
  margin: 5px 0;
  flex-grow: 1;
}
.ListIcons {
  background-color: #FFEEAC;
  color: #674F23;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  text-align: left;
  padding-right: 50px;
  font-size: 20px;
  margin: 5px 0;
  color: #674F23;
}

.ListIcons i {
  display: inline;
  font-size: 20px;
  margin: 0 7px;
}

i:hover {
  transition: .2s;
  color: #C76742;
  cursor: pointer;
}
.BlankItem {
  font-family: 'Ropa Sans', sans-serif;
  background-color: #FFEEAC;
  color: #674F23;
  font-size: 20px;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  padding-left: 50px;
  text-align: left;
  margin: 5px 0;
}
